.logo {
  padding-top: 20px;
}
  

body {
  
    background: radial-gradient(circle at 50% 20%, #042227 , #6a7fe3);
    animation: color 5s ease-in-out infinite;
    color: rgb(212, 210, 210);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
  background-color: rgba(09, 219, 245, 0);
  border-radius: 1rem;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: rgba(219, 203, 203, 0.2);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(230, 2, 2, 0.1);
}

.aboutus {
  width: auto;
  text-align: center;
  font-size: small;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: #000000;
}

header {
  background-color: rgb(132, 188, 192, 0);
  height: 4rem;
}

label {
    display: block;
    color: #000000;
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 20px;
}

.subbutton {
  background-color: rgb(110, 220, 245);
  color: black;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-right: 5rem;
  margin: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 40;
}
.subbutton:hover {
  background-color: rgb(100, 200, 255);
}

.addspace {
  background-color: #000000;
  width: 100px;
  height: 100px;
}

.buttondiv {
  background-color: rgb(158, 218, 208);
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  height: 40;
}
.buttondiv:hover {
  color: #ffffff;
  background-color: rgb(34, 141, 123);
}

.div1 {
  width: 50%;
  margin: auto;

}

h1 {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 40px;
    
    margin-top: 40px; /* Adjust this value to control the vertical positioning */
}

.popup {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.darkmode {
  color: #6a7fe3;
}


@keyframes ldio-c0gpgiwoyu {
  
  0% {
    
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5,1.5);
  } 100% {
    
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1,1);
  }
}

.ldio-c0gpgiwoyu div > div {
  
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #1d3f72;
  animation: ldio-c0gpgiwoyu 2.272727272727273s linear infinite;
}.ldio-c0gpgiwoyu div:nth-child(1) > div {
  
  left: 148px;
  top: 88px;
  animation-delay: -1.9886363636363635s;
}
.ldio-c0gpgiwoyu > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 160px 100px;
}.ldio-c0gpgiwoyu div:nth-child(2) > div {
  left: 130px;
  top: 130px;
  animation-delay: -1.7045454545454546s;
}
.ldio-c0gpgiwoyu > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 142px 142px;
}.ldio-c0gpgiwoyu div:nth-child(3) > div {
  left: 88px;
  top: 148px;
  animation-delay: -1.4204545454545454s;
}
.ldio-c0gpgiwoyu > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 100px 160px;
}.ldio-c0gpgiwoyu div:nth-child(4) > div {
  left: 46px;
  top: 130px;
  animation-delay: -1.1363636363636365s;
}
.ldio-c0gpgiwoyu > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 58px 142px;
}.ldio-c0gpgiwoyu div:nth-child(5) > div {
  left: 28px;
  top: 88px;
  animation-delay: -0.8522727272727273s;
}
.ldio-c0gpgiwoyu > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 40px 100px;
}.ldio-c0gpgiwoyu div:nth-child(6) > div {
  left: 46px;
  top: 46px;
  animation-delay: -0.5681818181818182s;
}
.ldio-c0gpgiwoyu > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 58px 58px;
}.ldio-c0gpgiwoyu div:nth-child(7) > div {
  left: 88px;
  top: 28px;
  animation-delay: -0.2840909090909091s;
}
.ldio-c0gpgiwoyu > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 100px 40px;
}.ldio-c0gpgiwoyu div:nth-child(8) > div {
  left: 130px;
  top: 46px;
  animation-delay: 0s;
}
.ldio-c0gpgiwoyu > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 142px 58px;
}
.loadingio-spinner-spin-pvabg80918o {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-c0gpgiwoyu {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-c0gpgiwoyu div { box-sizing: content-box; }
/* generated by https://loading.io/ */


