.logo {
  padding-top: 20px;
}
  
/*This is the radient behind the logo */
body {
    background: radial-gradient(circle at 50% 20%, #042227 , #6a7fe3);
    animation: color 5s ease-in-out infinite;
    color: rgb(212, 210, 210);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
  background-color: rgba(09, 219, 245, 0);
  border-radius: 1rem;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: rgba(219, 203, 203, 0.2);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(230, 2, 2, 0.1);
}

.aboutus {
  width: auto;
  text-align: center;
  font-size: small;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: #000000;
}

header {
  background-color: rgb(132, 188, 192, 0);
  height: 4rem;
}

label {
    display: block;
    color: #000000;
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 20px;
}

.subbutton {
  background-color: rgb(110, 220, 245);
  color: black;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-right: 5rem;
  margin: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 40;
}

.subbutton:hover {
  background-color: rgb(100, 200, 255);
}

.addspace {
  background-color: #000000;
  width: 100px;
  height: 100px;
}

.buttondiv {
  background-color: rgb(158, 218, 208);
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  height: 40;
}

.buttondiv:hover {
  color: #ffffff;
  background-color: rgb(34, 141, 123);
}

.div1 {
  width: 50%;
  margin: auto;

}

h1 {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 40px;
    
    margin-top: 40px; /* Adjust this value to control the vertical positioning */
}

.popup {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.darkmode {
  color: #6a7fe3;
}
